bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk

.vscode/
.idea/
library/
temp/
local/
build/
profiles/
md/
settings/*
!settings/v2/
settings/v2/default-profiles
settings/v2/packages/builder.json
native/
preview-template/
build-templates/
tool/
*.code*
node_modules/
*.manifest
*.manifest.meta
engine-mangle-config.json
native.meta
*.code-workspace
.agent/
.trae/
.kiro/
skills/
extensions/

AGENTS.md
